
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* header starts here */



.right-cart-sidebar {
    height: 100vw;
    position: absolute;
    right: 0;
    width: 35%;
    z-index: 5000;
    background-color: white;
}

.cart.show {
    transform: translateX(0); /* Slide into view */
}

.top {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    font-size: 15px;
}

.top * {
    margin: 0 10px;
    font-weight: 500;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    border: 1px solid black;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}

.bottom a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.bottom:hover {
    background-color: black;

}

.bottom:hover a {
    color: white;

}

.container {
    background-image: url("/img/bg-01.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-attachment: fixed;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;

}

.container-when-cart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;
}

nav {
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 22;
    font-weight: 400;
    margin-left: 30px;
}


.nav-items {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;

}

/* .logo img {
    display: block;
    margin: 0 auto;
} */

.extras {
    display: flex;
    flex: 1;
    justify-content: center;
}

.extras i {
    color: #ffffff;
    z-index: 22;
    position: relative;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 0;
}

.cart {
    position: relative;
}

.cart::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #ffffff;
} 



.nav-items ul {
    display: block;
    margin: 0 auto;
}

.nav-items ul li  {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

.nav-items ul li a {
    text-decoration: none;
    color: #ffff;   
}

.brief {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    z-index: 3;
    width: 50vw;
    margin-top: 30px;
}



.brief p {
    font-weight: 400;
}

.brief h1{
    font-size: 5.3571428571429rem;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

.brief h4 {
    font-weight: 500;
    text-align: center;
    margin: 7px 0;
}

.btn {
    background-color: transparent;
    color: #ffffff;
    border: 0.8px solid white;
    padding: 19px 32px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.5s;
    font-family: "Cormorant Garamond", serif;
}



.btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.btn:hover a {
    color: black;
    transition: 0.5s;
}


.btn a {
    text-decoration: none;
    color: white;
}

.d-none {
    display: none;
}

@media (max-width:1100px) {
    .brief {
        margin-top: 50px;
    }

    .brief h1 {
        font-size: 3rem;
    }

    .brief h4 {
        font-size: small;
    }
}

@media (max-width:920px) {

    .fa-solid {
        display: block;
        position: relative;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
    }

    .extras {
        display: flex;
        justify-content: flex-end;
    }

    

    .nav-items ul {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:0;
        right: 0;
        background-color: black;
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        color: white;
        display: none;
        z-index: 99;
        box-sizing: border-box;
        padding: 0;
    }


    .nav-items ul li {
        margin: 30px 0;
        outline: none;
    }

    .nav-items ul li a:focus {
        outline: none;
    }

    .links-container a.active {
        color: #878787;
        transition: 0.5s;
    }

    .links-container a.active:hover {
        color: white;
        transition: 0.5s;
    }



}

/* header end here */

/* most popular starts here */

#most-popular {
    margin: 120px;
}

.most-popular-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.title h2 {
    font-size: 50px;
    font-family: "Cormorant Garamond",serif;
    font-weight: 500;
    margin: 50px 0;
    font-style: italic;
    line-height: 1.15em;
    text-align: center;
}

.most-popular-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 25%;
}

.product * {
    padding: 7px 5px;
}

.product p {
    font-family: "Cormorant Garamond",serif;
}

.product img {
    width: 100%;
}

.sizes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizes button {
    margin: 0 5px;
    color: #00000075;
    background-color: #ffffff;
    cursor: pointer;
    padding: 3px 13px;
    border-radius: 3px;
    font-family: "Cormorant Garamond", serif;
    border: 0.5px solid black;
    transition: 0.5s;
    
}

.sizes button:hover {
    border: 0.5px solid #00000075;
    transition: 0.5s;
}

.colors {
    display: flex;

}

.colors * {
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    margin: 0 5px;
    cursor: pointer;
}

.colors .black {
    background-color: black;
}
.colors .green {
    background-color: green;
}
.colors .red {
    background-color: red;
}
.colors .white {
    background-color: white;
}
.colors .beige {
    background-color: beige;
}

@media (max-width: 1200px) {
    .product {
        width: calc(33.33% - 10px); /* Adjusts to three products per row */
    }
}

@media (max-width: 900px) {
    .product {
        width: calc(50% - 10px); /* Adjusts to two products per row */
    }
}

@media (max-width: 600px) {
    .product {
        width:100%;
    }

    .product img {
        width: 75%;
    }
}






/* most popular ends here */

/* explore bag collection starts here */

.explore-bag-collection {
    background: url(/img/bg-02.jpg);
    height: 125vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.explore-bag-collection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;

}

.explore-bag-collection-container{
    position: absolute;
    top: 100px;
    right: 200px;
    z-index: 2;
    color: #ffffff;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.explore-bag-collection img {
    width: 100%;
}

.explore-bag-collection-container * {
    margin: 10px 0;
}

.explore-bag-collection-container h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-align: center;
}


.explore-bag-collection button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


@media (max-width:750px) {

    .explore-bag-collection-container {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        padding: 20px;
    }

    .explore-bag-collection-container img {
        width: 80%;
    }
}



/* explore bag collection ends here */

/* explore blazers collection starts here */
.blazers {
    position: relative;
    background: url(/img/bg-05-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.blazers img {
    width: 100%;
    position: relative;
    object-fit: cover;
}

.blazers-collection {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blazers-collection div {
    width: 80%;
    margin: auto;
}

.blazers-collection * {
    margin: 10px 0;
}

.blazers-collection p {
    font-weight: 400;
}

.blazers h3 {
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: 600;
}

.blazers-collection .blazers-btn {
    margin-top: 15px;
    background-color: transparent;
    border: 0.8px solid black;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.5s;
    font-family: sans-serif;
} 

.blazers-collection .blazers-btn a{
    text-decoration: none;
    color: black;

} 

.blazers-collection h6 {
    color: #00000075;
}

.blazers-collection .blazers-btn:hover {
    background-color: black;    
    transition: 0.5s;
}

.blazers-collection .blazers-btn:hover a { 
    color: white;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

@media(max-width:800px) {
    .blazers-collection {
        width: 75%;
    }
}

/* explore blazers collection ends here */


/* discover collection starts here */
.discover {
    background: url(/img/bg-03.jpg);
    height: 105vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.discover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;

}

.discover-container{
    position: absolute;
    top: -70px;
    left: 200px;
    z-index: 2;
    color: #ffffff;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.discover img {
    width: 100%;
}

.discover-container * {
    margin: 10px 0;
}

.discover-container h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-style: italic;
}

.discover-container h6 {
    font-size: 12px;
}


.discover button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


@media (max-width:750px) {


    .discover-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        top: 38%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        padding: 20px;
    }

    .discover-container img {
        width: 80%;
    }
}

/* discover collection ends here */

#newest {
    margin: 120px 20px;
}

/* feedback starts here */
.feedback div  {
    color: gold;
    display: flex;
}

.feedback {
    background: url(/img/bg-04.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
}

.feedback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;
}

.feedback * {
    margin: 8px 0;
    text-align: center;
    z-index: 4;
    line-height: 1.4em;
}


.user {
    font-size: 15px;
    background-color:black ;
    color: white;
    font-weight: 500;
    line-height: 1;

}

.message {
    font-size: 30px;
    width: 50%;
    color: white;
    font-family: "Cormorant Garamond", serif;
    
}

@media (max-width:750px) {
    .message{
        font-size: 25px;
        width: auto;
    }

    .user {
        font-size: 10px;
    }

}


@media (max-width:500px) {
    .message{
        font-size: 20px;
    }

}

/* feedback ends here */

/* advantages starts here */



.advantages {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    padding: 50px 30px;
    gap: 20px;
}

.advantage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;

}

.advantage-item i {
    font-size: 22px;
}



.advantage-item * {
    margin-top: 15px;
} 
.advantage-item h3 {
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

.advantages p {
    font-weight: 300;
    font-size: 15px;
}

.advantage-item h3, .advantage-item p {
    width: 100%;
}

@media (max-width:1000px) {
    .advantages {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
    }
}
@media (max-width:1000px) {
    .advantages {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:700px) {
    .advantages {
        display: grid;
        grid-template-columns: 1fr;
    }
}



/* advantages ends here */


/* explore collection ends here */
.explore-collection {
    background: url(/img/bg-005.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.explore-collection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 value for desired darkness */
    z-index: 1;

}

.explore-collection-container{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 2;
    color: #ffffff;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.explore-collection img {
    width: 100%;
}

.explore-collection-container * {
    margin: 10px 0;
}

.explore-collection-container h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
}


.explore-collection button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


@media (max-width:750px) {

    .explore-collection-container {
        display: flex;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 400px;
        padding: 20px;
    }

    .explore-collection-container h3 {
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
    }

}

@media (max-width:500px) {

    .explore-collection-container {
        display: flex;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 250px;
        padding: 20px;
    }

    .explore-collection-container h3 {
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
    }

}


/* explore collection ends here */

/* footer starts here */

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

footer div {
    margin: 0 auto;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 999;
}

footer div ul li {
    list-style: none;
    color: #000000;
}

footer div ul li a {
    text-decoration: none;
    color: #00000075;
    transition: 0.5s;
    font-size: 14px;
}
footer div ul li a:hover {
    color: black;
}

footer .header {
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
    margin-bottom: 10px;
}

@media (max-width:500px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer div {
        margin: 30px auto;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    
}
/* footer ends here */






